* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
body {
  font-family: "Segoe UI", "Roboto", "Oxygen", sans-serif;
  background-color: #132a41;
}
.textHeader {
  margin-top: 15px;
  color: white;
}
